@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*To add space between section use this css */
.spacer {
    height: 50px; /* Adjust as needed */
}

/* Body styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #025b62; /* Background color for the header */
    padding: 10px 20px;
}

.logo {
    width: 250px;
    height: 120px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 24px;
}

.menu ul li {
    margin-right: 90px; /* Adjust spacing between menu items
}

.menu ul li:last-child {
    margin-right: 50px; /* Remove margin from the last menu item */
} */

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu ul li a:hover {
    color: #36a1c0;
}

.bodygallary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 70vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 50px;
    color: #f4f4f4;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
}

.panel h1 {
    font-size: 35px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h1 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}


.hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    cursor: pointer;
    z-index: 9998;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-color: rgb(2 91 98 / 76%);
    /* background-color: #025b62; */
    padding: 12px 20px;
    display: none;
}
  
  .bar,
  .bar:after,
  .bar:before {
    width: 30px;
    height: 3px;
  }
  
  .bar {
    position: relative;
    transform: translateY(10px);
    background: white;
    transition: all 0ms 300ms;
  }
  
  .bar.animate {
    background: rgba(255, 255, 255, 0);
  }
  
  .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: white;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: white;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .icon .logo {
    cursor: pointer;
  }
@media (max-width: 1450px) {
    ul li{
        margin-left: 40px;
        font-size: 15px;
    }

}
@media (max-width: 1180px) {
    ul li{
        margin-left: 35px;
        font-size: 12px;
    }
}
@media (min-width:768px) and  (max-width:1180px) {
    .icon {
        display: none !important;
    }
    .menu {
        padding-left: 20px;
    }
}
@media (max-width:480px) {
    .container {
        width: 100vw;
        transition: opacity 0.3s ease-in 0.4s;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}
@media (max-width: 768px) {
    .fa-whatsapp {
        top: 10px;
        right: 30px;
        font-size: 30px;
    }
    header {
        padding: 10px;
    }

    nav {
        padding: 5px;
    }

    nav a {
        margin: 0 5px;
    }
    .menu {
        display: none;
    }
    .menu.active {
        display: block !important;
        position: fixed;
        background-color: #025b62;
        height: 100%;
        z-index: 999;
        left: 0;
        top: 0;
        margin-top: 0;
        padding-left: 0px;
        width: 100%;
        padding-top: 60px;
    }
    .menu.active ul {
        display: block;
        width: 100%;
    }
    .menu.active ul li {
        list-style: none;
        margin-left: 0;
        margin-top: 0;
        font-size: 24px;
        padding: 14px 22px;
    }
    .about-content {
        max-width: 100%;
    }
    .hamburger-menu {display: block;}
}

/* Footer styles */

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #025b62;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 7% 30px;
    font-family: "Montserrat", sans-serif;
}


.footer-content h4 {
    color: #fff;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.footer-content li {
    margin-bottom: 16px;
    list-style: none;
    text-decoration: none;
}

.footer-content li a {
    display: block;
    color: #d5e3ea;
    font-size: 16px;
    font-weight: 400;
    transition: all .40s ease;
    text-decoration: none;
}

.footer-content iframe {
    width: 300px;
    height: 150px;
}

.footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
}

.footer-content p {
    color: #d5e3ea;
    font-size: 12px;
    line-height: 30px;
    margin: 20px 0;
    font-family: "Montserrat", sans-serif;
}

.icons a {
    display: inline-block;
    justify-content: center;
    font-size: 22px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover {
    color: #fff;
    transform: translateY(-5px)
}